<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Query 1's html file -->
<table border = 1>
    {% for i in x %}
    <tr>
        <td> VendorID : {{i[0]}} </td>
        <td> Amount Sum :    {{i[1]}} </td>
        <td> Discount Sum :     {{i[2]}} </td>
        <td> Mode of Payment : {{i[3]}} </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>