<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Query 1's html file -->
<table border = 1>
    {% for i in x %}
    <tr>
        <td>  {{i[0]}} </td>
        <td>    {{i[1]}} </td>
        <td>    {{i[2]}} </td>
        <td> {{i[3]}} </td>
        <td>  {{i[4]}} </td>
        <td>  {{i[5]}} </td>
        <td>  {{i[6]}} </td>
        <td>  {{i[7]}} </td>
        <td>  {{i[8]}} </td>
        <td>  {{i[9]}} </td>
        <td>  {{i[10]}} </td>
        

    </tr>
    {% endfor %}
  </table>
</body>
</html>